@media screen and (max-width: 1200px) {


    html{
        scroll-behavior: smooth;
    }
    
    body {
       transition: all .25s linear;
        font-family: 'Roboto', sans-serif;
       background-color: #1d1d30;
       color: #FFFFFF;
       max-width: 100%;
       overflow-x: hidden;
       z-index: -3;
    }
    
    a {
       color: #ffffff;
       text-decoration: none;
    }
    
    a:hover {
       color:#FF9301; 
       text-decoration:none; 
       cursor:pointer; 
       transform: translateX(5px); 
       transition: all 0.3s ease-in-out;
    }
    
    .lang {
       position: absolute;
       background-color: #FF9301;
       left: 95%;
       width: 30px;
       height: 30px;
       top: 20px;
    }
    
    .lang p {
       font-weight: 1000;
       position: absolute;
       top: -15px;
       left: 15%;
       font-size: 115%;
    }
    
    .navbar {
     background-color: #0E0E17;
     position: fixed;
     left: 0;
     top: 0;
     height: 100%;
     width: 81px;
     border-right: 1px solid #E5E5E5;
    }
    
    #home {
    
       position: absolute;
       top: 0;
       left: 50%;
    }
    
    .corner{
       transition: all .25s linear;
       position: fixed;
       left: 0;
       top: 0;
       height: 100px;
       width: 81px;
       background-color: #FF9301;
    }
    
    #cornertext {
       transition: all .25s linear;
       position: fixed;
       font-size: 400%;
       font-weight: 600;
       top: 0;
       margin-top: 1%;
       margin-left: 20px;
    
    }
    
    #a1 {
    transition: all .25s linear;
     position: absolute;
     left: 20%;
     top: 220px;
     text-align: center;
     font-size: 43px;
     padding-left: 0;
    }
    
    #a2 {
       transition: all .25s linear;
     position: absolute;
     left: 20%;
     top: 280px;
     text-align: center;
     font-size: 38px;
     padding-left: 2px;
    }
    
    #a3 {
       transition: all .25s linear;
     position: absolute;
     left: 20%;
     top: 340px;
     font-size: 43px;
     padding-left: 7px;
    }
    
    #a4 {
       transition: all .25s linear;
     position: absolute;
     left: 20%;
     top: 410px;
     font-size: 38px;
     padding-left: 5px;
    }
    
    #a5 {
       transition: all .25s linear;
     position: absolute;
     left: 20%;
     top: 480px;
     font-size: 38px;
     padding-left: 7px;
    }
    
    .homepage{
       position: absolute;
       top: 0;
       left: 6%;
       width: 94%;
       height: 700px;
    
    }
    
    #pnumber {
       font-size: 130%;
       position: absolute;
       left: 5%;
    }
    
    #email {
       font-size: 125%;
       position: absolute;
       left: 25%;
    }
    
    #paragraph1 {
       transition: all .25s linear;
       position: absolute;
       top: 160px;
       font-size: 30px;
       margin-left: 5%;
    }
    
    #name {
       transition: all .25s linear;
       position: absolute;
       top: 190px;
       font-size: 65px;
       margin-left: 5%;
    }
    
    #name400a {
       transition: all .25s linear;
       display: none;
    }
    
    #name400b {
       transition: all .25s linear;
       display: none;
    }
    
    #name400c {
       transition: all .25s linear;
       display: none;
    }
    
    #occupation {
       transition: all .25s linear;
       position: absolute;
       top: 310px;
       font-size: 25px;
       margin-left: 5%;
    }
    
    #paragraph2 {
       transition: all .25s linear;
       position: absolute;
       top: 370px;
       font-size: 20px;
       margin-left: 5%;
       padding-right: 50%;
    }
    
    #downloadcv {
       background-color: #FF9301;
       border-radius: 00.5rem;
       transition: all .25s linear;
       position: absolute;
       top: 490px;
       height: 40px;
       width: 150px;
       font-size: 23px;
       text-decoration-color: #ffffff;
       text-decoration-line: none;
       margin-left: 5%;
       padding-top: 10px;
       padding-left: 8px;
    }
    
    #downloadcv:hover{
       background-color: #ffffff;
    }
    
    #bigcircle {
       transition: all .25s linear;
       position: absolute;
       top: 0;
       left: 58%;
        height: 900px;
        width: 1000px;
        background-color: #0E0E17;
        border-radius: 50%;
        z-index: -3;
       overflow-x: hidden;
       animation: breathing 5s ease-out infinite normal;
    }
    
    #img1 {
       transition: all .25s linear;
       position: absolute;
       left: 650px;
       top: 60px;
       height: 1000px;
       width: 500px;
       z-index: -2;
    }
    
     @keyframes breathing {
       0% {
         transform: scale(0.9);
       }
     
       25% {
         transform: scale(1);
       }
     
       60% {
         transform: scale(0.9);
       }
     
       100% {
         transform: scale(0.9);
       }
     }
    
    
    
    .bio {
       transition: all .25s linear;
       height: 2070px;
       width: 94%;
       background-color: #141421;
       position: absolute;
       left: 6%;
       top: 690px;
       z-index: -1;
    }
    
    #about {
       transition: all .25s linear;
       position: absolute;
       left: 0;
       top: 0;
    }
    
    .all1{
       position: absolute;
       left: 42%;
       top: 100px;
       width: 55%;
       height: 500px;
    }
    
    #biography {
       transition: all .25s linear;
       position: absolute;
       left: 10%;
       top: 0;
    }
    
    .smallcircle1 {
       transition: all .25s linear;
       position: absolute;
       top: 10px;
       left: 9%;
       width: 50px;
       height: 50px;
       border-radius: 50%;
       background-color: #FF9301;
       z-index: -1;
    }
    
    #paragraph3 {
       transition: all .25s linear;
       position: absolute;
       left: 5%;
       top: 15%;
       padding-right: 5%;
       font-size: 115%;
    }
    
    #paragraph4 {
       transition: all .25s linear;
       position: absolute;
       left: 5%;
       top: 38%;
       padding-right: 5%;
       padding-top: 1%;
       font-size: 115%;
    }
    
    #paragraph5 {
       transition: all .25s linear;
       position: absolute;
       left: 5%;
       top: 65%;
       font-size: 100%;
    }
    
    #paragraph6 {
       transition: all .25s linear;
       position: absolute;
       left: 5%;
       top: 72%;
       font-size: 100%;
    }
    
    #paragraph7 {
       transition: all .25s linear;
       position: absolute;
       left: 5%;
       top: 79%;
       font-size: 100%;
    }
    
    #paragraph8 {
       transition: all .25s linear;
       position: absolute;
       left: 5%;
       top: 86%;
       font-size: 100%;
    }
    
    #paragraph9 {
       transition: all .25s linear;
       position: absolute;
       left: 50%;
       top: 65%;
       font-size: 100%;
    }
    
    #paragraph10 {
       transition: all .25s linear;
       position: absolute;
       left: 50%;
       top: 72%;
       font-size: 100%;
    }
    
    #paragraph11 {
       transition: all .25s linear;
       position: absolute;
       left: 50%;
       top: 79%;
       font-size: 100%;
    }
    
    #paragraph12 {
       transition: all .25s linear;
       position: absolute;
       left: 50%;
       top: 86%;
       font-size: 100%;
    }
    
    .all2{
        position: absolute;
        top: 4%;
        left: 4%;
        width: 500px;
        height: 500px;
    
    }
    #paragraph13 {
        transition: all .25s linear;
        position: absolute;
        left: 25%;
        top: 82%;
        font-size: 120%;
    }
    
    #paragraph14 {
        transition: all .25s linear;
        position: absolute;
        left: 15%;
        top: 85%;
        font-size: 160%;
    }
    
    .circleforimg {
        transition: all .25s linear;
        position: absolute;
        overflow: hidden;
        top: 15%;
        left: 10%;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 5px solid #fff;
        z-index: -1;
    }
    
    .circleforimg img {
        transition: all .25s linear;
        position: absolute;
        bottom: 20%;
        left: -10%;
        width: 130%;
        height: 200%;
        z-index: -1;
    }
    
    .circleforimg:hover {
        transition: all .25s linear;
        border: 5px solid #FF9301;
    }
    
    .circlepint {
        transition: all .25s linear;
        position: absolute;
        overflow: hidden;
        top: 60%;
        left: 61%;
        width: 40px;
        height: 40px;
        background-color: #1F1F28;
        border-radius: 50%;
        border: 3px solid #fff;
    }
    
    .circlepint:hover {
        transform: translateY(-5px);
        transition: all 0.5s ease-in-out;
        background-color: #FF9301;
        border: 3px solid #FF9301;
    }
    
    .circlepint img {
        transition: all .25s linear;
        width: 100%;
        height: 100%;
    }
    
    .circlelinked {
        transition: all .25s linear;
        position: absolute;
        overflow: hidden;
        top: 69%;
        left: 50%;
        width: 40px;
        height: 40px;
        background-color: #1F1F28;
        border-radius: 50%;
        border: 3px solid #fff;
    }
    
    .circlelinked:hover {
        transform: translateY(-5px);
        transition: all 0.5s ease-in-out;
        background-color: #FF9301;
        border: 3px solid #FF9301;
    }
    
    .circlelinked img {
        transition: all .25s linear;
        width: 100%;
        height: 90%;
    }
    
    .circleinsta {
        transition: all .25s linear;
        position: absolute;
        overflow: hidden;
        top: 72%;
        left: 38%;
        width: 40px;
        height: 40px;
        background-color: #1F1F28;
        border-radius: 50%;
        border: 3px solid #fff;
    }
    
    .circleinsta:hover {
        transform: translateY(-5px);
        transition: all 0.5s ease-in-out;
        background-color: #FF9301;
        border: 3px solid #FF9301;
    }
    
    .circleinsta img {
        transition: all .25s linear;
        width: 100%;
        height: 100%;
    }
    
    .circletwit {
        transition: all .25s linear;
        position: absolute;
        overflow: hidden;
        top: 69%;
        left: 25%;
        width: 40px;
        height: 40px;
        background-color: #1F1F28;
        border-radius: 50%;
        border: 3px solid #fff;
    }
    
    .circletwit:hover {
        transform: translateY(-5px);
        transition: all 0.5s ease-in-out;
        background-color: #FF9301;
        border: 3px solid #FF9301;
    }
    
    .circletwit img {
        transition: all .25s linear;
        width: 100%;
        height: 100%;
    }
    
    .circleface {
        transition: all .25s linear;
        position: absolute;
        overflow: hidden;
        top: 60%;
        left: 14%;
        width: 40px;
        height: 40px;
        background-color: #1F1F28;
        border-radius: 50%;
        border: 3px solid #fff;
    }
    
    .circleface:hover {
        transform: translateY(-5px);
        transition: all 0.5s ease-in-out;
        background-color: #FF9301;
        border: 3px solid #FF9301;
    }
    
    .circleface img {
        transition: all .25s linear;
        width: 100%;
        height: 100%;
    }
    
    .smallcircle2 {
       transition: all .25s linear;
       position: absolute;
       top: 675px;
       left: 8.8%;
       width: 50px;
       height: 50px;
       border-radius: 50%;
       background-color: #FF9301;
    }
    
    #wid {
       transition: all .25s linear;
       position: absolute;
       left: 10%;
       top: 32%;
       font-size: 200%;
    }
    
    #rectangle1 {
       transition: all .25s linear;
       position: absolute;
       top: 40%;
       left: 6%;
       height: 15%;
       width: 43%;
       background-color: #0E0E17;
       border-radius: 3%;
       overflow: hidden;
    
    }
    
    #rectangle2 {
       transition: all .25s linear;
       position: absolute;
       top: 40%;
       left: 54%;
       height: 15%;
       width: 43%;
       background-color: #0E0E17;
       border-radius: 3%;
       overflow: hidden;
    }
    
    .smallcircle3 {
       transition: all .25s linear;
       position: absolute;
       top: -25%;
       left: -10%;
       width: 40%;
       height: 65%;
       border-radius: 50%;
       background-color: #FF9301;
    }
    
    .smallcircle3:hover {
       transition: all .25s linear;
       transform: scale(7);
       transition: all 1s ease;
    }
    
    .smallcircle4 {
       transition: all .25s linear;
       position: absolute;
       top: -25%;
       left: -10%;
       width: 40%;
       height: 65%;
       border-radius: 50%;
       background-color: #FF9301;
    }
    
    .smallcircle4:hover {
       transform: scale(7);
       transition: all 1s ease;
    }
    
    #mobile {
       transition: all .25s linear;
       position: absolute;
       top: 5%;
       left: 5%;
       width: 80px;
       height: 80px;
       z-index: 3;
    
    }
    
    #monitor {
       transition: all .25s linear;
       position: absolute;
       top: 5%;
       left: 5%;
       width: 80px;
       height: 80px;
    }
    
    #paragraph15 {
       transition: all .25s linear;
       position: absolute;
       left: 10%;
       top: 33%;
       font-size: 160%;
    }
    
    #paragraph16 {
       transition: all .25s linear;
       position: absolute;
       left: 10%;
       top: 50%;
       font-size: 120%;
       padding-right: 10%;
    }
    
    #paragraph17 {
       transition: all .25s linear;
       position: absolute;
       left: 10%;
       top: 33%;
       font-size: 160%;
    }
    
    #paragraph18 {
       transition: all .25s linear;
       position: absolute;
       left: 10%;
       top: 50%;
       font-size: 120%;
       padding-right: 10%;
    }
    
    #award {
       transition: all .25s linear;
       position: absolute;
       top: 63%;
       left: 10%;
       font-size: 200%;
    }
    
    .smallcircle5 {
       transition: all .25s linear;
       position: absolute;
       top: 1320px;
       left: 8.8%;
       width: 50px;
       height: 2.3%;
       border-radius: 50%;
       background-color: #FF9301;
    }
    
    #rectangle3 {
       transition: all .25s linear;
       position: absolute;
       top: 70%;
       left: 4%;
       height: 6%;
       width: 30%;
       background-color: #0E0E17;
       border-radius: 3%;
       overflow: hidden;
    
    }
    
    #rectangle3:hover {
       transform: translateY(-10px);
       transition: all 0.5s ease-in-out;
    }
    
    #rectangle4 {
       transition: all .25s linear;
       position: absolute;
       top: 70%;
       left: 35%;
       height: 6%;
       width: 30%;
       background-color: #0E0E17;
       border-radius: 3%;
       overflow: hidden;
    
    }
    
    #rectangle4:hover {
       transform: translateY(-10px);
       transition: all 0.5s ease-in-out;
    }
    
    #rectangle5 {
       transition: all .25s linear;
       position: absolute;
       top: 70%;
       left: 66%;
       height: 6%;
       width: 30%;
       background-color: #0E0E17;
       border-radius: 3%;
       overflow: hidden;
    
    }
    
    #rectangle5:hover {
       transform: translateY(-10px);
       transition: all 0.5s ease-in-out;
    }
    
    .rectangle6 {
       transition: all .25s linear;
       position: absolute;
       top: 20%;
       left: 10%;
       height: 60%;
       width: 23%;
       background-color: #fff;
       border-radius: 2%;
    
    }
    
    #rectangle7 {
       transition: all .25s linear;
       position: absolute;
       top: 20%;
       left: 10%;
       height: 60%;
       width: 23%;
       background-color: #ffffff;
       border-radius: 2%;
    
    }
    
    #rectangle8 {
       transition: all .25s linear;
       position: absolute;
       top: 20%;
       left: 10%;
       height: 60%;
       width: 23%;
       background-color: #ffffff;
       border-radius: 2%;
    
    }
    
    #wimg {
       transition: all .25s linear;
       position: absolute;
       top: 7%;
       left: 10%;
       width: 80%;
       height: 90%;
    }
    
    #p1img {
       transition: all .25s linear;
       position: absolute;
       top: 7%;
       left: 10%;
       width: 80%;
       height: 90%;
    }
    
    #p2img {
       transition: all .25s linear;
       position: absolute;
       top: 7%;
       left: 10%;
       width: 70%;
       height: 80%;
    }
    
    #hon1 {
       transition: all .25s linear;
       position: absolute;
       top: 3%;
       left: 40%;
       font-size: 120%;
    }
    
    #comp1 {
       transition: all .25s linear;
       position: absolute;
       top: 40%;
       left: 40%;
       font-size: 100%;
    }
    
    #hon2 {
       transition: all .25s linear;
       position: absolute;
       top: 3%;
       left: 40%;
       font-size: 120%;
    }
    
    #comp2 {
       transition: all .25s linear;
       position: absolute;
       top: 40%;
       left: 40%;
       font-size: 100%;
    }
    
    #hon3 {
       transition: all .25s linear;
       position: absolute;
       top: 3%;
       left: 40%;
       font-size: 120%;
    }
    
    #comp3 {
       transition: all .25s linear;
       position: absolute;
       top: 40%;
       left: 40%;
       font-size: 100%;
    }
    
    .smallcircle6 {
       transition: all .25s linear;
       position: absolute;
       top: 80%;
       left: 8.8%;
       width: 50px;
       height: 50px;
       border-radius: 50%;
       background-color: #FF9301;
    }
    
    #testim {
       transition: all .25s linear;
       position: absolute;
       left: 10%;
       top: 79.3%;
       font-size: 200%;
    }
    
    .wrapper {
       transition: all .25s linear;
       position: absolute;
       left: 0%;
       height: 12%;
       width: 100%;
       top: 85%;
       display: flex;
       overflow-x: auto;
    }
    
    .wrapper::-webkit-scrollbar {
       width: 10px;
       height: 8px;
     } 
     
    .wrapper::-wexbkit-scrollbar-track {
       position: absolute;
       top: 99%;
       border-radius: 0.5rem;
     }
      
    .wrapper::-webkit-scrollbar-thumb {
       background-color: #ffffff; 
       border-radius: 0.5rem;
     }
     
    .wrapper::-webkit-scrollbar-thumb:hover {
       background-color: #FF9301; 
     }
    
    .wrapper .item1 {
       position: absolute;
       left: 5%;
       width: 40%;
       height: 90%;
       background-color: #0E0E17;
       border-radius: 0.8rem;
       display: flex;
    }
    
    .item1:hover {
       transform: translateY(-10px);
       transition: all 0.5s ease-in-out;
    }
    
    .wrapper .item2 {
       position: absolute;
       width: 40%;
       height: 90%;
       background-color: #0E0E17;
       border-radius: 0.8rem;
       left: 55%;
       display: flex;
    }
    
    .item2:hover {
       transform: translateY(-10px);
       transition: all 0.5s ease-in-out;
    }
    
    .wrapper .item3 {
       position: absolute;
       width: 40%;
       height: 90%;
       background-color: #0E0E17;
       border-radius: 0.8rem;
       left: 110%;
       display: flex;
    }
    
    .item3:hover {
       transform: translateY(-10px);
       transition: all 0.5s ease-in-out;
    }
    
    .wrapper .item4 {
       position: absolute;
       width: 40%;
       height: 90%;
       background-color: #0E0E17;
       border-radius: 0.8rem;
       left: 160%;
       display: flex;
       padding-right: -5%;
    }
    
    .item4:hover {
       transform: translateY(-10px);
       transition: all 0.5s ease-in-out;
    }
    
    .circimage1 {
       transition: all .25s linear;
       position: absolute;
       top: 10%;
       left: 5%;
       width: 100px;
       height: 100px;
       border-radius: 50%;
       overflow: hidden;
    }
    
    .circimage1 img{
       transition: all .25s linear;
       position: absolute;
       right: -25%;
    }
    
    #par1 {
       transition: all .25s linear;
       position: absolute;
       top: 0%;
       left: 33%;
       font-size: 90%;
       margin-right: 2%;
    }
    
    #par2 {
       transition: all .25s linear;
       position: absolute;
       top: 45%;
       left: 30%;
       font-size: 150%;
    }
    
    #par3 {
       transition: all .25s linear;
       position: absolute;
       top: 70%;
       left: 30%;
       font-size: 120%;
    }
    
    .circimage2 {
       transition: all .25s linear;
       position: absolute;
       top: 10%;
       left: 5%;
       width: 100px;
       height: 100px;
       border-radius: 50%;
       overflow: hidden;
    }
    
    .circimage2 img{
       transition: all .25s linear;
       position: absolute;
       right: -25%;
    }
    
    #par4 {
       transition: all .25s linear;
       position: absolute;
       top: 0%;
       left: 33%;
       font-size: 90%;
       margin-right: 2%;
    }
    
    #par5 {
       transition: all .25s linear;
       position: absolute;
       top: 45%;
       left: 30%;
       font-size: 150%;
    }
    
    #par6 {
       transition: all .25s linear;
       position: absolute;
       top: 70%;
       left: 30%;
       font-size: 120%;
    }
    
    .circimage3 {
       transition: all .25s linear;
       position: absolute;
       top: 10%;
       left: 5%;
       width: 100px;
       height: 100px;
       border-radius: 50%;
       overflow: hidden;
    }
    
    .circimage3 img{
       transition: all .25s linear;
       position: absolute;
       right: -25%;
    }
    
    #par7 {
       transition: all .25s linear;
       position: absolute;
       top: 0%;
       left: 33%;
       font-size: 90%;
       margin-right: 2%;
    }
    
    #par8 {
       transition: all .25s linear;
       position: absolute;
       top: 45%;
       left: 30%;
       font-size: 150%;
    }
    
    #par9 {
       transition: all .25s linear;
       position: absolute;
       top: 70%;
       left: 30%;
       font-size: 120%;
    }
    
    .circimage4 {
       transition: all .25s linear;
       position: absolute;
       top: 10%;
       left: 5%;
       width: 100px;
       height: 100px;
       border-radius: 50%;
       overflow: hidden;
    }
    
    .circimage4 img{
       transition: all .25s linear;
       position: absolute;
       right: -25%;
    }
    
    #par10 {
       transition: all .25s linear;
       position: absolute;
       top: 0%;
       left: 33%;
       font-size: 90%;
       margin-right: 2%;
    }
    
    #par11 {
       transition: all .25s linear;
       position: absolute;
       top: 50%;
       left: 30%;
       font-size: 150%;
    }
    
    #par12 {
       transition: all .25s linear;
       position: absolute;
       top: 70%;
       left: 30%;
       font-size: 120%;
    }
    
    .resume {
       transition: all .25s linear;
       height: 1350px;
       width: 94%;
       position: absolute;
       left: 6%;
       top: 2760px;
       z-index: -1;
    }
    
    .smallcircle7 {
       transition: all .25s linear;
       position: absolute;
       top: 5%;
       left: 8.8%;
       width: 50px;
       height: 50px;
       border-radius: 50%;
       background-color: #FF9301;
    }
    
    #exper {
       transition: all .25s linear;
       position: absolute;
       left: 10%;
       top: 4%;
       font-size: 200%;
    }
    
    #rectangle9 {
       transition: all .25s linear;
       position: absolute;
       top: 13%;
       left: 7%;
       height: 20%;
       width: 85%;
       background-color: #0E0E17;
       border-radius: 1.01rem;
       overflow: hidden;
       font-size: 120%;
    }
    
    #rectangle9:hover {
       transform: translateY(-10px);
       transition: all 0.5s ease-in-out;
    }
    
    #paragraph19 {
       transition: all .25s linear;
       position: absolute;
       top: 0%;
       left: 8%;
       font-size: 120%;
    }
    
    #paragraph19a {
       transition: all .25s linear;
       position: absolute;
       top: 15%;
       left: 8%;
       font-size: 120%;
    }
    
    #paragraph19b {
       transition: all .25s linear;
       position: absolute;
       top: 30%;
       left: 8%;
       font-size: 120%;
    }
    
    #rectangle10 {
       transition: all .25s linear;
       position: absolute;
       top: 65%;
       left: 8%;
       height: 40px;
       width: 150px;
       background-color: #FF9301;
       border-radius: 0.3rem;
    }
    
    #rectangle10 p{
       transition: all .25s linear;
       position: absolute;
       top: -25px;
       left: 15px;
       font-size: 150%;
    }
    
    #paragraph20 {
       transition: all .25s linear;
       position: absolute;
       top: 1%;
       left: 35%;
       font-size: 120%;
    }
    
    #paragraph21 {
       transition: all .25s linear;
       position: absolute;
       top: 20%;
       left: 35%;
       padding-right: 5%;
       font-size: 110%;
    }
    
    #rectangle11 {
       transition: all .25s linear;
       position: absolute;
       top: 35%;
       left: 7%;
       height: 20%;
       width: 85%;
       background-color: #0E0E17;
       border-radius: 1.01rem;
       overflow: hidden;
       font-size: 120%;
    }
    
    #rectangle11:hover {
       transform: translateY(-10px);
       transition: all 0.5s ease-in-out;
    }
    
    #paragraph22 {
       transition: all .25s linear;
       position: absolute;
       top: 0%;
       left: 8%;
       font-size: 120%;
    }
    
    #paragraph22a {
       transition: all .25s linear;
       position: absolute;
       top: 15%;
       left: 8%;
       font-size: 120%;
    }
    
    #paragraph22b {
       transition: all .25s linear;
       position: absolute;
       top: 30%;
       left: 8%;
       font-size: 120%;
    }
    
    #rectangle12 {
       transition: all .25s linear;
       position: absolute;
       top: 65%;
       left: 8%;
       height: 40px;
       width: 150px;
       background-color: #FF9301;
       border-radius: 0.3rem;
    }
    
    #rectangle12 p{
       transition: all .25s linear;
       position: absolute;
       font-size: 150%;
       top: -25px;
       left: 15px;
    }
    
    #paragraph23 {
       transition: all .25s linear;
       position: absolute;
       top: 1%;
       left: 35%;
       font-size: 120%;
    }
    
    #paragraph24 {
       transition: all .25s linear;
       position: absolute;
       top: 20%;
       left: 35%;
       padding-right: 5%;
       font-size: 110%;
    }
    
    .smallcircle8 {
       transition: all .25s linear;
       position: absolute;
       top: 57%;
       left: 8.8%;
       width: 50px;
       height: 50px;
       border-radius: 50%;
       background-color: #FF9301;
    }
    
    #edu {
       transition: all .25s linear;
       position: absolute;
       left: 10%;
       top: 56%;
       font-size: 200%;
    }
    
    #rectangle13 {
       transition: all .25s linear;
       position: absolute;
       top: 65%;
       left: 7%;
       height: 30%;
       width: 35%;
       background-color: #0E0E17;
       border-radius: 1.01rem;
       overflow: hidden;
       font-size: 100%;
    } 	
    
    .rect13p1 {
       transition: all .25s linear;
       position: absolute;
       top: 5%;
       left: 2%;
       height: 20%;
       width: 100%;
    }
    
    #paragraph25 {
       transition: all .25s linear;
       position: absolute;
       top: 0%;
       left: 10%;
       font-size: 120%;
    }
    
    #paragraph26 {
       transition: all .25s linear;
       position: absolute;
       top: 40%;
       left: 10%;
       font-size: 120%;
    }
    
    #paragraph27 {
       transition: all .25s linear;
       position: absolute;
       top: 80%;
       left: 10%;
       font-size: 120%;
    }
    
    .rect13p2 {
       transition: all .25s linear;
       position: absolute;
       top: 35%;
       left: 2%;
       height: 20%;
       width: 100%;
    }
    
    #paragraph28 {
       transition: all .25s linear;
       position: absolute;
       top: 0%;
       left: 10%;
       font-size: 120%;
    }
    
    #paragraph29 {
       transition: all .25s linear;
       position: absolute;
       top: 40%;
       left: 10%;
       font-size: 120%;
    }
    
    #paragraph30 {
       transition: all .25s linear;
       position: absolute;
       top: 80%;
       left: 10%;
       font-size: 120%;
    }
    
    .rect13p3 {
       transition: all .25s linear;
       position: absolute;
       top: 65%;
       left: 2%;
       height: 20%;
       width: 100%;
    }
    
    #paragraph31 {
       transition: all .25s linear;
       position: absolute;
       top: 0%;
       left: 10%;
       font-size: 120%;
    }
    
    #paragraph32 {
       transition: all .25s linear;
       position: absolute;
       top: 40%;
       left: 10%;
       font-size: 120%;
    }
    
    #paragraph33 {
       transition: all .25s linear;
       position: absolute;
       top: 80%;
       left: 10%;
       font-size: 120%;
    }
    
    .progress {
       transition: all .25s linear;
       position: absolute;
       top: 65%;
       left: 50%;
       width: 35%;
       height: 30%;
    }
    
    .progress1 {
       transition: all .25s linear;
       position: absolute;
       width: 100%;
       height: 25%;
       top: 0;
       left: 0;
       font-size: 130%;
    }
    
    #paragraph34 {
       transition: all .25s linear;
       position: absolute;
       font-size: 250%;
       font-weight: 900;
       top: 0;
       left: -4%;
    }
    
    #paragraph35 {
       transition: all .25s linear;
       position: absolute;
       top: 40%;
       left: 30%;
    }
    
    #progbar1 {
       transition: all .25s linear;
       position: absolute;
       background-color: #FF9301;
       width: 65%;
       height: 7%;
       top: 85%;
       left: 30%;
    }
    
    .progress2 {
       transition: all .25s linear;
       position: absolute;
       width: 100%;
       height: 25%;
       top: 20%;
       left: 0;
       font-size: 120%;
    }
    
    #paragraph36 {
       transition: all .25s linear;
       position: absolute;
       font-size: 250%;
       font-weight: 900;
       top: 0;
       left: -4%;
    }
    
    #paragraph37 {
       transition: all .25s linear;
       position: absolute;
       top: 40%;
       left: 30%;
    }
    
    #progbar2 {
       transition: all .25s linear;
       position: absolute;
       background-color: #FF9301;
       width: 53%;
       height: 7%;
       top: 85%;
       left: 30%;
    }
    
    .progress3 {
       transition: all .25s linear;
       position: absolute;
       width: 100%;
       height: 25%;
       top: 40%;
       left: 0;
       font-size: 120%;
    }
    
    #paragraph38 {
       transition: all .25s linear;
       position: absolute;
       font-size: 250%;
       font-weight: 900;
       top: 0;
       left: -4%;
    }
    
    #paragraph39 {
       transition: all .25s linear;
       position: absolute;
       top: 40%;
       left: 30%;
    }
    
    #progbar3 {
       transition: all .25s linear;
       position: absolute;
       background-color: #FF9301;
       width: 61%;
       height: 7%;
       top: 85%;
       left: 30%;
    }
    
    .progress4 {
       transition: all .25s linear;
       position: absolute;
       width: 100%;
       height: 25%;
       top: 60%;
       left: 0;
       font-size: 120%;
    }
    
    #paragraph40 {
       transition: all .25s linear;
       position: absolute;
       font-size: 250%;
       font-weight: 900;
       top: 0;
       left: -4%;
    }
    
    #paragraph41 {
       transition: all .25s linear;
       position: absolute;
       top: 40%;
       left: 30%;
    }
    
    #progbar4 {
       transition: all .25s linear;
       position: absolute;
       background-color: #FF9301;
       width: 63%;
       height: 7%;
       top: 85%;
       left: 30%;
    }
    
    .work {
       transition: all .25s linear;
       width: 94%;
       position: absolute;
       left: 6%;
       top: 4140px;
       height: 1350px;
       background-color: #141421;
       z-index: -1;
    }
    
    #work {
       transition: all .25s linear;
       position: absolute;
       top: 0;
    }
    
    .smallcircle9 {
       transition: all .25s linear;
       position: absolute;
       top: 4.4%;
       left: 8.8%;
       width: 50px;
       height: 50px;
       border-radius: 50%;
       background-color: #FF9301;
    }
    
    #portf {
       transition: all .25s linear;
       position: absolute;
       left: 10%;
       top: 3%;
       font-size: 200%;
    }
    
    .square1 {
       transition: all .25s linear;
       position: absolute;
       top: 15%;
       left: 7%;
       width: 27%;
       height: 30%;
       background-color: #FF9301;
    }
    
    .square2 {
       transition: all .25s linear;
       position: absolute;
       top: 15%;
       left: 37%;
       width: 27%;
       height: 50%;
       background-color: #FF9301;
    }
    
    .square3 {
       transition: all .25s linear;
       position: absolute;
       top: 15%;
       left: 67%;
       width: 27%;
       height: 35%;
       background-color: #FF9301;
    }
    
    .square4 {
       transition: all .25s linear;
       position: absolute;
       top: 48%;
       left: 7%;
       width: 27%;
       height: 25%;
       background-color: #FF9301;
    }
    
    .square5 {
       transition: all .25s linear;
       position: absolute;
       top: 68%;
       left: 37%;
       width: 27%;
       height: 30%;
       background-color: #FF9301;
    }
    
    .square6 {
       transition: all .25s linear;
       position: absolute;
       top: 53%;
       left: 67%;
       width: 27%;
       height: 25%;
       background-color: #FF9301;
    }
    
    .square7 {
       transition: all .25s linear;
       position: absolute;
       top: 76%;
       left: 7%;
       width: 27%;
       height: 22%;
       background-color: #FF9301;
    }
    
    .square8 {
       transition: all .25s linear;
       position: absolute;
       top: 80%;
       left: 67%;
       width: 27%;
       height: 18%;
       background-color: #FF9301;
    }
    
    #sqcontent{
       transition: all .25s linear;
       position: absolute;
       background-color: #0E0E17;
       top: 7%;
       left: 10%;
       width: 205px;
       height: 100px;
       font-size: 100%;
    }
    
    #enablehover {
       transition: all .25s linear;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       opacity: 0;
    }
    
    #enablehover:hover{
       position: absolute;
       opacity: 100%;
       transition: all 1s ease;
    }
    
    #sqcontent1 {
       transition: all .25s linear;
       position: absolute;
       bottom: 23%;
       left: 20%;
       font-size: 120%;
       font-weight: 800;
       padding-bottom: 0;
    }
    
    #sqcontent2 {
       transition: all .25s linear;
       position: absolute;
       bottom: 0%;
       left: 15%;
       font-size: 100%;
       padding-bottom: 0;
    }
    
    .square1:hover {
       transform: translateY(-10px);
       transition: all 1s ease-in-out;
    }
    
    .square2:hover {
       transform: translateY(-10px);
       transition: all 1s ease-in-out;
    }
    
    .square3:hover {
       transform: translateY(-10px);
       transition: all 1s ease-in-out;
    }
    
    .square4:hover {
       transform: translateY(-10px);
       transition: all 1s ease-in-out;
    }
    
    .square5:hover {
       transform: translateY(-10px);
       transition: all 1s ease-in-out;
    }
    
    .square6:hover {
       transform: translateY(-10px);
       transition: all 1s ease-in-out;
    }
    
    .square7:hover {
       transform: translateY(-10px);
       transition: all 1s ease-in-out;
    }
    
    .square8:hover {
       transform: translateY(-10px);
       transition: all 1s ease-in-out;
    }
    
    .contactpage {
        position: absolute;
        top: 5490px;
       width: 94%;
        left: 6%;
        height: 700px;
       z-index: -1;
       overflow: hidden;
    }
    
        #contact {
        position: absolute;
        top: 5450px;
        left: 50%;
    }
    
        .getintouch{
            position: absolute;
            top: 20px;
            height: 45%;
            left: 20px;
            width: 50%;
        }
    
        #para1{
            position: absolute;
            top: 0;
            left: 5%;
            font-size: 200%;
        }
    
        #para2{
            position: absolute;
            font-size: 120%;
            top: 35%;
            padding-right: 5%;
            padding-left: 5%;
            padding-right: 10%;
        }
    
        .fa-map{
            position: absolute;
            top: 65%;
            left: 6%;
            font-size: 150%;
            color: #FF9301;
        }
    
        #para3{
            position: absolute;
            font-size: 120%;
            top: 60%;
            left: 15%;
        }
    
        .fa-github{
            position: absolute;
            top: 75%;
            left: 6%;
            font-size: 150%;
            color: #FF9301;
        }
    
        #para4{
            position: absolute;
            font-size: 120%;
            top: 70%;
            left: 15%;
        }
    
        .fa-phone-alt{
            position: absolute;
            top: 85%;
            left: 6%;
            font-size: 150%;
            color: #FF9301;
        }
    
        #para5{
            position: absolute;
            font-size: 120%;
            top: 80%;
            left: 15%;
        }
    
    
        .form {
            position: absolute;
            top: 30px;
            height: 40%;
            left: 45%;
            width: 50%;  
        }
    
        #h1a{
            position: absolute;
            top: 0;
            left: 5%;
            font-size: 200%;
        }
    
        .input1{
            color: #fff;
            position: absolute;
            background-color: #1d1d30;
            top: 25%;
            left: 5%;
            width: 200px;
            height: 40px;
            font-size: 120%;
            outline: none;
            border: 1px solid gray;
        }
    
        .input2{
            color: #fff;
            position: absolute;
            background-color: #1d1d30;
            top: 25%;
            left: 55%;
            width: 180px;
            height: 40px;
            font-size: 120%;
            outline: none;
            border: 1px solid gray;
        }
    
        .input3{
            color: #fff;
            position: absolute;
            background-color: #1d1d30;
            top: 45%;
            left: 5%;
            width: 460px;
            height: 40px;
            font-size: 120%;
            padding-left: 30px;
            outline: none;
            border: 1px solid gray;
        }
    
        .input4{
            color: #fff;
            position: absolute;
            background-color: #1d1d30;
            top: 65%;
            left: 5%;
            width: 460px;
            height: 100px;
            font-size: 150%;
            padding-left: 30px;
            outline: none;
            border: 1px solid gray;
        }
    
        .button1 {
            position: absolute;
            top: 105%;
            height: 40px;
            left: 5%;
            width: fit-content;
            border: none;
            outline: none;
            background-color: #FF9301;
            border-radius: 0.5rem;
            font-size: 200%;
            color: #E5E5E5;
            padding-left: 2%;
            padding-right: 2%;
        }
    
        .map {
            position: absolute;
            top: 55%;
            height: 280px;
            left: 60px;
            right: 20px;
            overflow: hidden;
        }
    
    
    }
    